## ![logo](../../img/license_header_logo.png)
> **Copyright &copy; 2021 CertifAI Sdn. Bhd.**<br>
 <br>
This program and the accompanying materials are made available under the
terms of the [Apache License, Version 2.0](https://www.apache.org/licenses/LICENSE-2.0). <br>
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License. <br>
<br>**SPDX-License-Identifier: Apache-2.0**

# <a name="top">06 - Exercise for Common Operations & Data Cleanup and Missing Data</a>
Authored by: Scotrraaj Gopal - scotrraaj.gopal@certifai.ai

## <a name="description">Notebook Description</a>

One is able to consolidate their understanding during practical use of the knowledge. This notebook contains exercises to test your understanding and help you identify which application needs more reading and practise.

By the end of this exercise, you will be able to:

1. Relate and apply the common operations in `pandas`.
2. Explain and apply data cleanup methods in `pandas`.
3. Understand, detect and deal with missing data with `pandas`.

## Notebook Outline
Here's the outline for this tutorial:
1. [Notebook Description](#description)
2. [Notebook Configurations](#configuration)
3. [Section I - Common Operations](#common)
4. [Section II - Data Cleanup and Missing Data](#missing)
5. [Summary](#summary)
6. [Reference](#reference)

## <a name="configuration">Notebook Configurations</a>

**Task 0:** Import `pandas` with alias `pd`.

**Expected output:**
>![05-00](../../img/pandas/05-00.png)

In [ ]:
# YOUR CODE HERE


dir(pd)

## <a name="common">Section I - Common Operations</a>

**Task I-1:** Load the CSV file at `../../Datasets/pandas/winemag-data-130k-v2.csv` in the `wine` variable and show only the first three rows.

**Expected Output:**
>![05-04](../../img/pandas/05-04.png)

In [ ]:
# YOUR CODE HERE

**Task I-2:** Extract the `description` column and assign it to the variable `desc`.

**Expected Output:**
>![06-01](../../img/pandas/06-01.png)

In [ ]:
# YOUR CODE HERE


desc

**Task I-3:** Create a `DataFrame` object called `df` made up of rows with index labels `15`,`18`,`45`,`700` and column labels `country`, `province`, and `title`.

**Expected Output:**
>![06-02](../../img/pandas/06-02.png)

In [ ]:
# YOUR CODE HERE


df

**Task I-4:** Generate a `DataFrame`, `df` filled with elements that lie from the 60th to 66th row and the 3rd to 7th column.

**Expected Output:**
>![06-03](../../img/pandas/06-03.png)

In [ ]:
# YOUR CODE HERE


df

**Task I-5:** Generate a `DataFrame`, `top_MexicoGermany_wines` that contains all reviews from **Mexico** and **Germany** with **at least 85 points** and is **priced between 45 and 50**.

**Expected Output:**
>![06-04](../../img/pandas/06-04.png)

In [ ]:
# YOUR CODE HERE


top_MexicoGermany_wines

## <a name="missing">Data Cleanup and Missing Data</a>
**Task II-1:** Often the `price` column has `NaN` values. Find the total number of rows with `NaN` values in the `price` column.

**Expected Output:**
>8996

In [ ]:
# YOUR CODE HERE

**Task II-2:** Use the string "Unknown" to replace all `NaN` values in the `DataFrame` and save it a new object, `replaced`.

**Expected Output:**

> ![06-05](../../img/pandas/06-05.png)

In [ ]:
# YOUR CODE HERE


replaced

**Task II-3:** Obtain the shape of the `DataFrame`, `processed` when all duplicated rows and rows with `NaN` values are dropped.

**Expected Output:**

>(20493,13)

In [ ]:
# YOUR CODE HERE

##  <a name="summary">Summary</a>
To conclude, you should now be able to:

1. Relate and apply the common operations in `pandas`.
2. Explain and apply data cleanup methods in `pandas`.
3. Understand, detect and deal with missing data with `pandas`.

Congratulations, you have completed this exercise!

## <a name="reference">Reference</a>
* [Dataset Source](https://www.kaggle.com/zynicide/wine-reviews)
* [Question Reference](https://www.kaggle.com/learn/pandas)

<font size=2>[Back to Top](#top)</font>